<div class="container">
    <!-- Navbar -->
    <div class="nav">
        <nav class="navbar">
            <div class="logo-container">
                <h3 class="logo-text">
                    <a routerLink="/welcome" class="taskmanager-link">TaskManager</a>
                </h3>
            </div>
        </nav>
    </div>

    <!-- Forgot Password Card -->
    <div class="contact-container">
        <div class="contact-card">
            <h2>Forgot Password</h2>
            <p>Please enter your registered email address to receive an OTP for password reset</p>
            <input type="email" [(ngModel)]="email" placeholder=" yourname@example.com" required />
            <div *ngIf="emailError && !email " class="error-message">{{ emailError }}</div>
            <button (click)="sendOtp()">Send OTP</button>
            <p class="back-to-login">
                <a routerLink="/login">Back to Login</a>
            </p>
        </div>
    </div>
</div>